@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */

.BACK
{font:Arial, Helvetica, sans-serif;
padding:25px 90px;
}
p{
border-bottom:2px solid gray;
font-size:18px;
background-color:#0096d5;
color:#FFFFFF;
}
.div2 {
  width: 600px;
  height: 300px;  
  padding: 50px;
  border: 1px solid #CCCCCC;
}
.div
{background-color:#CCCCCC;
height:30px;
width:700px;
padding:0;
margin-top:-67px;
margin-left:-50px;
}
.div3 {
  width: 1165px;
  height: 150px;  
  padding: 50px;
  border: 1px solid #999999;
  margin-left:-15px;
  text-align:left;
}
.th
{
background-color:#CCCCCC;
margin-top:-50px;
width:1165px;
margin-left:-50px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;

}
.div4 {
  width: 550px;
  height: 70px;  
  padding: 50px;
  border: 1px solid #999999;
  margin-left:-20px;
}
.tbl1 td
{
  padding:15px;
}
.th1
{
background-color:#CCCCCC;
/*margin-top:-200px;*/
width:1165px;
margin-left:-15px;
height:30px;
text-align:center;
}
.ac
{
border:1px solid #999999;
height:300px;
font-family:Arial, Helvetica, sans-serif;
}
.ad
{border:1px solid #CCCCCC;
height:190px;
}
.date{
margin-left:-870px;
margin-top:10px;
}
.approve{
margin-left:440px;
margin-top:-78px;


}
.p3{
text-align:center;
}
.da{
margin-left:600px;
margin-top:-30px;
}
.remark
{
margin-left:950px;
margin-top:-75px;
}
.footer{
background-color:#0096d5;
padding:10px;
text-align:right;
}
.v1
{
margin-left:-950px;
float:left;
}
.cc
{
float:left;
}
.button1
{
float:right;
margin-top:-15px;
}

p{
border-bottom:2px solid gray;
font-size:18px;
}
.caption
{
text-align:center;
background-color:#307eb2;
}
.H5{
text-align:center;
}
.button{
float:right;
margin-top:40px;
margin-left:20px;
}
p{
border-bottom:2px solid gray;
font-size:18px;
}

.a{
margin-left:250px;
text-align:center;
}
.button2{
float:left;
margin-left:850px;

}
