<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>jci india</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  
   
    <link rel="stylesheet" href="css/bootstrap.min.css">
   
    <link rel="stylesheet" href="css/core.css">

    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
 
    <link rel="stylesheet" href="style.css">
 
    <link rel="stylesheet" href="css/responsive.css">
   
    <link rel="stylesheet" href="css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
    
   
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<style>


</style>
<body>
 
   
    <div class="wrapper">
       
        <header class="header-area">
            <div class="header-top blue-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7 col-xs-12">
                          
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs0">
                            <div class="header-top-right">
                                <div class="header-top-social f-right">
                                    
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>&nbsp;&nbsp; GET INVOLVE</a></li>
                                        <li><a href="#"><i class="fa fa-download"></i>&nbsp;&nbsp;DOWNLOAD</a></li>
                                        <li><a href="#"><i class="fa fa-credit-card"></i>&nbsp;&nbsp;ONLINE PAYMENT</a></li>
                                        <li><a href="#"><i class="fa fa-group"></i>&nbsp;&nbsp;DIRECTORY INFORMATION</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="header-bottom stick-h2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo/logo.png" alt=""> </a>
                            </div>
                        </div> 
                        
                        
                        <div class="col-md-6 col-sm-5 hidden-xs1">
                            <div class="header-top-right">
                                <div class="header-top-social f-right1">
                                    
                                    <ul>
                                         <li><a href="#">Login &nbsp;&nbsp;&nbsp;&nbsp;<font color="red">|</font></a></li>
                                         <li><a href="npcorner.html">NP Corner &nbsp;&nbsp;&nbsp;&nbsp;<font color="red">|</font></a></li>
                                        <li><a href="#">Upload Project &nbsp;&nbsp;&nbsp;&nbsp;<font color="red">|</font></a></li>
                                        <li><a href="#">Am I a Member?</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        
                        
                        <div class="col-md-10 hidden-sm hidden-xs">
                            <div class="menu-area f-right">
                                <nav>
                                    <ul>
                                     <li class="active coloumn-one"><a href="index.html">Home</a></li>
                                        <li><a href="index.html">About <i class="zmdi zmdi-caret-down"></i></a>
                                            <ul>
                                                <li><a href="#"> Why JCI</a></li>
                                                <li><a href="#">JCI India</a></li>
                                                <li><a href="#">Founder’s Perspective</a></li>
                                                <li><a href="#">JCI Mission</a></li>
                                                <li><a href="#">JCI Values</a></li>
                                                <li><a href="#">JCI Vision</a></li>
                                                <li><a href="#">JCI Global</a></li>
                                            </ul>
                               
                                        </li>
                                        <li><a href="#">Team 2020  <i class="zmdi zmdi-caret-down"></i></a>
                                        <ul>
                                                <li><a href="teams.html"> National Governing Board</a>
                                                 <ul>
                                                <li><a href="#">National Executive Committee</a></li>
                                                <li><a href="#">National Directors</a></li>
                                                <li><a href="#">Zone Presidents</a></li></ul>
                                                
                                                
                                                </li>
                                                <li><a href="#">National Appointees</a></li>
                                                <li><a href="#">National Head Quarter</a></li>
                                                <li><a href="#">Zone Governing Board</a></li>
                                                <li><a href="#">Past National Presidents</a></li>
                                                <li><a href="#">International Corner</a></li>
                                                <li><a href="#">Team History</a>
                                                 <ul>
                                                <li><a href="#">Team 2019</a></li>
                                               
                                                <li><a href="#">Team 2018</a></li></ul>
                                                
                                                
                                                </li>
                                            </ul>
                                        </li>
                                       <li><a href="#">Events  <i class="zmdi zmdi-caret-down"></i></a>
                                        <ul>
                                                <li><a href="events.html">Upcoming Events</a></li>
                                                <li><a href="#">Event Calendar 2019</a></li>
                                                <li><a href="#">International Events</a></li>
                                                <li><a href="#">National Events</a></li>
                                                <li><a href="#">Zone Events</a></li>
                                                <li><a href="#">Past events</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class="level-menu"><a href="#">Opportunities <i class="zmdi zmdi-caret-down"></i></a>
                                          
                                                    <ul>
                                                        <li><a href="#">Management</a></li>
                                                        <li><a href="#">Training</a></li>
                                                        <li><a href="#">Community</a></li>
                                                         <li><a href="#">Business</a></li>
                                                        <li><a href="#">International</a></li>
                                                        
                                                    </ul>
                                                </li>
                                               
                                           
                                        <li class="coloumn-one"><a href="#">JCI India Foundation <i class="zmdi zmdi-caret-down"></i></a>
                                            <ul>
                                                <li><a href="#">About Foundation</a></li>
                                                <li><a href="#">HGF</a></li>
                                                <li><a href="#">JFM</a></li>
                                                <li><a href="#">JFD</a></li>
                                                <li><a href="#">JFP</a></li>
                                                <li><a href="#">JFF</a></li>
                                                <li><a href="#">JFS</a></li>
                                                <li><a href="#">RPP</a></li>
                                                <li><a href="#">JFJ</a></li>
                                            </ul>
                                        </li>
                                     <li class="coloumn-one"><a href="#">Media <i class="zmdi zmdi-caret-down"></i></a>
                                             <ul>
                                                <li><a href="news.html">News and Updates</a></li>
                                                <li><a href="#">JCI India Challenge</a></li>
                                                <li><a href="#">Video</a></li>
                                             </ul>
                                      </li>
                                          <li><a href="#">Programs & Activities </a></li>
                                           
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      
        
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                   
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="#">home animated text 1</a></li>
                                            <li><a href="#">home animated text 2</a></li>
                                            <li><a href="#">home animated text 3</a></li>
                                            <li><a href="#">home animated text 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">About Us </a></li>
                                    <li><a href="#">shortcode <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <ul>
                                            <li><a href="#">shortcode style 1</a>
                                                <ul>
                                                    <li><a href="#">alert</a></li>
                                                    <li><a href="#">blog</a></li>
                                                    <li><a href="#">buttons</a></li>
                                                    <li><a href="#">countdown</a></li>
                                                    <li><a href="#">counter</a></li>
                                                </ul>
                                            </li>
                                          
                                        </ul>
                                    </li>
                                    <li><a href="#">Team 2019<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <ul>
                                           
                                            <li><a href="#">Footer</a>
                                                <ul>
                                                    <li><a href="#">Footer One</a></li>
                                                    <li><a href="#">Footer Two</a></li>
                                                    <li><a href="#">Footer Three</a></li>
                                                  
                                                </ul>
                                            </li>
                                            <li><a href="#">Page Title</a>
                                                <ul>
                                                    <li><a href="#"> Default Title</a></li>
                                                    <li><a href="#"> Background Fixed</a></li>
                                                    <li><a href="#"> Dark Title</a></li>
                                                    <li><a href="#"> No Background</a></li>
                                                    <li><a href="#"> Pattern Title</a></li>
                                                    <li><a href="#">solid Title</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Oppertunities <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <ul>
                                            <li><a href="#">about us</a></li>
                                            <li><a href="#">contact</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li><a href="#">Jci India Foundation </a></li>
                                    <li><a href="#">Programs & Activities </a></li>
                                     <li><a href="#">Np Corner</a></li>
                                      <li><a href="#">Upload Project</a></li>
                                </ul>
                            </nav>
                        </div>					
                    </div>
                </div>
            </div>
        </div>
      
        <div class="slider-area">
            <div class="slider-active">
                <div class="slider-all">
                    <img src="images/slider/sub.png" alt="">
                    <div class="slider-text-wrapper">
                        <div class="table">
                            <div class="table-cell">
                                <div class="slider-text animated">
                                   
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
       
        <div id="news">
	
    	<div id="head">
        <p>NEWS UPDATE</p>
        </div>
        <div id="content">
        <marquee><p> Lorem ipsum dolor sit amet, consectetur adipiscing iusmod tempor incididunt ut labore et dolore...</p></marquee>
        </div>
 
</div>
        
        <div class="categoris-area pb-80 pt-110">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h1 class="uppercase">NATIONAL APPOINTEES 2020</h1>
                    <div class="separator my mtb-15">
                        <i class="icofont icofont-hat-alt"></i>
                    </div>
                </div>
               
               
            
               
              
             <div class="buttons">
  <a href="#" class="mnu" onclick="toggleVisibility('Menu1');">COMMITTEE & APPOINTEES</a>
  <a href="#" class="mnu1" onclick="toggleVisibility('Menu2');">NOM CO-ORDINATORS</a>
  
</div>
 
  <div id="Menu1">
  
  <h3>JCI INDIA FOUNDATION</h3>
   <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 appin">
                      <div class="col-sm-6">
                      <div class="president">
                      <img src="images/13.png">
                      <h5>JCI Sen. Anish C. Mathew</h5>
                      <p>National President, JCI India 2020</p></div>
                      </div>
                     </div></div>
                     <div class="second">
                     <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12">
                    
                     <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                     <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxxx, JCI India 2020</p>
                     </div>
                     </div></div>
                     
                     </div>
                
                
                <h3>ADMINISTRATIVE COMMITTEE</h3>
   <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 appin">
                      <div class="col-sm-6">
                      <div class="president">
                      <img src="images/13.png">
                      <h5>JCI Sen. Anish C. Mathew</h5>
                      <p>National President, JCI India 2020</p></div>
                      </div>
                     </div></div>
                     <div class="second">
                     <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12">
                    
                     <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                     <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir2">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxxx, JCI India 2020</p>
                     </div>
                     </div></div>
                     
                     </div>
                
  
  
  
  
  
  
  
  
  
  
  
  </div>
  <div id="Menu2" style="display: none;">
  
  
   <div class="second">
                     <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12">
                    
                     <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                     <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxxx, JCI India 2020</p>
                     </div>
                     
                     
                     <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                     <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxx, JCI India 2020</p>
                     </div>
                      <div class="col-sm-3 thir22">
                     <img src="images/men.png">
                      <h5>ZZZ ZZZ. ZZZZZZ Z. ZZZZZZZ</h5>
                      <p>xxxxxxxxxx, JCI India 2020</p>
                     </div>
                     
                     
                     
                     </div></div>
                     </div>
  
  
  
  
  
  
  </div>
  
  




</div>
               
               
               
               
             
    
        
        
        
        
        
        
        
       </div>
   </div>
       
       
                                </div>
                             
                      
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
       
        <div class="testimonial-area bg-10 bg-opacity bg-relative ptb-110">
            <div class="container">
                <div class="row">
                <h2 align="center" style="color:#fff;padding-bottom:20px;">JCI PROGRAMS</h2>
                    <div class="col-md-12">
                        <div class="testimonial-all slider-active2">
                            <div class="single-testimonial">
                                <div class="test-img-name">
                                    <div class="test-img">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="test-name">
                                        
                                        <p>JCI TRAINING PROGRAME</p>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="single-testimonial">
                                <div class="test-img-name">
                                    <div class="test-img">
                                        <img src="images/7.jpg" alt="">
                                    </div>
                                    <div class="test-name">
                                       
                                        <p>FOOD GRAIN DISTRIBUTION</p>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="single-testimonial">
                                <div class="test-img-name">
                                    <div class="test-img">
                                        <img src="images/25.jpg" alt="">
                                    </div>
                                    <div class="test-name">
                                        
                                        <p>BLOOD DONATION</p>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="single-testimonial">
                                <div class="test-img-name">
                                    <div class="test-img">
                                        <img src="images/aug2.jpg" alt="">
                                    </div>
                                    <div class="test-name">
                                        
                                        <p>INDEPENDENCE DAY</p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div id="fixed-social">
  <div>
    <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
  </div>
  <div>
    <a href="#" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
  </div>
  <div>
    <a href="#" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
  </div>
  <div>
   
   
  <a href="#" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
  </div>
</div>
     
      
        <footer class="footer-area">
            <div class="footer-top ptb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-text footer-social">
                                 <h3>Contact Us</h3>
                                <p>JCI India<br>
National Head Quarters<br>
506 Windfall, Sahar Plaza, J.B. Nagar,<br>
Andheri (EAST)
Mumbai 400 059<br>
Tel: (022)-71117112<br>
Email: nhq@jciindia.in  </p>
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="footer-text mrg-xs">
                                <h3>Quick Links</h3>
                                <ul class="footer-text-all">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Why JCI</a></li>
                                    <li><a href="#">JCI India</a></li>
                                    <li><a href="#">JCI Mission</a></li>
                                    <li><a href="#">JCI Vision</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="footer-text mrg-sm3 mrg-xs">
                                <h3>&nbsp;</h3>
                                <ul class="footer-text-all">
                                 <li><a href="#">National Appointees</a></li>
                                    <li><a href="#">International Corner</a></li>
                                    <li><a href="#">Past National President</a></li>
                                    <li><a href="#">National Head Quarter</a></li>
                                    <li><a href="#">Team History</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 sendl">
                            <div class="footer-text mrg-sm3 mrg-xs">
                                <h3>&nbsp;</h3>
                                <ul class="footer-text-all">
                                 <li><a href="#">International Events</a></li>
                                    <li><a href="#">National Events</a></li>
                                    <li><a href="#">Zone Events</a></li>
                                    <li><a href="#">Past Events</a></li>
                                    <li><a href="#">UpComming Events</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 last">
                            <div class="footer-text mrg-sm3 mrg-xs">
                                <h3>&nbsp;</h3>
                                <ul class="footer-text-all">
                                 <li><a href="#">Management</a></li>
                                    <li><a href="#">Training</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Community</a></li>
                                    <li><a href="#">International</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                        
                       
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="footer-bottom-text ptb-20">
                                <p>
                                    Copyrights © <a href="#" target="_blank"> 2020 jci india | Designed by Spiderline</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
        
        
      
    </div>
  
    
    
    
    <script>
	var divs = ["Menu1", "Menu2", "Menu3", "Menu4"];
var visibleDivId = null;
function toggleVisibility(divId) {
  if(visibleDivId === divId) {
    //visibleDivId = null;
  } else {
    visibleDivId = divId;
  }
  hideNonVisibleDivs();
}
function hideNonVisibleDivs() {
  var i, divId, div;
  for(i = 0; i < divs.length; i++) {
    divId = divs[i];
    div = document.getElementById(divId);
    if(visibleDivId === divId) {
      div.style.display = "block";
    } else {
      div.style.display = "none";
    }
  }
}
</script>
    
    
    
    
    

 
   
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
   
    <script src="js/bootstrap.min.js"></script>
  
    <script src="js/ajax-mail.js"></script>
    
    <script src="js/ajaxpage.js"></script>
   
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>



</html>